{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form method="post" action="{{ url_for('login') }}" novalidate>
  {% from "macros.html" import render_field %}
  {{ render_field(form.username, class="form-control", placeholder="Username") }}
  {{ render_field(form.password, class="form-control", placeholder="Password") }}

  {# Додано поле для CSRF-токену #}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  {{ render_field(form.remember, class="form-check-input") }}
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}