/* Загальні стилі для сторінки */
html {
  box-sizing: border-box;
  min-width: 52px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #2b2b2b;
  color: #fff;
}

.header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  background-color: #333;
}
.header_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.main {
  padding: 40px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}
.main_img {
  display: flex;
  flex: 1;
  justify-content: center;
}
.main_img img {
  height: 60%;
  width: auto;
}
.main_article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.main_article h3 {
  font-size: 38px;
}
.main_article p {
  font-size: 20px;
}
