{% extends "base.html" %} {% block content %}
<center><h2 style="color: #94d194">{{ title }}</h2></center>
<main class="main">
  <div class="main_img">
    <img src="../static/images/amur.jpg" alt="" />
  </div>
  <article class="main_article">
    <h3>Amour...</h3>
    <p class="main_articletext">
      🐈, the charismatic furball, 🌟 is not just a cat; he's a
      whisker-twitching bundle of joy! His daily antics are like a paw-printed
      🐾 manuscript of happiness. Let's embark on a virtual journey 🚀 through a
      day in the life of Amour, where every purr 🎶 is a melody and every
      stretch 🤸‍♂️ is a dance move.
    </p>
    <p class="main_articletext">
      Morning sunbeams ☀️ gently wake Amour from his cozy catnap 🛌. With a
      sleepy yawn 😴 and a paw stretch 🐾, he declares the day officially
      started. The kitchen calls 🍲, and Amour's hopeful eyes 👀 fixate on the
      promise of breakfast kibbles. A nom-nom ballet 💃 commences as he indulges
      in his morning feast.
    </p>
    <p class="main_articletext">
      After breakfast, Amour turns into an explorer 🗺️. The living room becomes
      his jungle 🌿, and the couch transforms into a mountain peak. His tail 🐈
      serves as a majestic banner fluttering in the imaginary breeze. A sudden
      pounce 🦘, and he conquers the Everest of cushions.
    </p>
    <p class="main_articletext">
      Midday siesta 😴 is a sacred ritual for Amour. He seeks the perfect
      sunspot ☀️, curls into a furry doughnut 🍩, and dozes off to the gentle
      rhythm of a distant bird's song 🐦. Dreams filled with catnip visions and
      high-speed chases 🏃‍♂️ fill his feline imagination.
    </p>
    <p class="main_articletext">
      Evening playtime 🎾 heralds the return of Amour's playful side. Feather
      wands become enchanted forest 🌳 adventures, and toy mice 🐭 are valiant
      opponents in his epic quest for feline glory. Zoomies 🌀 across the room
      and acrobatic jumps 🤸 are all part of the spectacle.
    </p>
  </article>
</main>
{% endblock %}
