{% extends "base.html" %} {% block content %}
<center><h2 style="color: #d19494">{{ title }}</h2></center>
<main class="main">
  <div class="main_img">
    <img src="../static/images/sheva.jpg" alt="" />
  </div>
  <article class="main_article">
    <h3>Welcome? to my Flask Web-Page</h3>
    <p class="main_articletext">
      Greetings! 👋 I'm thrilled to welcome you to my digital space. This page
      is a testament to my passion for web development and showcases a block
      dynamically rendered with Python using the Flask framework. As a
      developer, I find joy in crafting seamless and efficient solutions, and
      this particular block exemplifies the power of Python in creating dynamic
      and engaging web content. Feel free to explore and discover more about my
      coding adventures!
    </p>
  </article>
</main>
{% endblock %}
