{% extends "base.html" %} {% block content %}
<center><h2 style="color: #94b8d1">{{ title }}</h2></center>
<main class="main" style="flex-direction: row-reverse">
  <div class="main_img">
    <img src="../static/images/stas.jpg" alt="" />
  </div>
  <article class="main_article">
    <h3>My Gost-Mono /berloga #PABS $hata-babuli$ Friend</h3>
    <p class="main_articletext">
      Meet Stas, a virtuoso guitarist 🎸 whose fingers dance effortlessly across
      the strings, creating enchanting melodies 🎶 that resonate with the soul.
      With a passion for music 🎵 that knows no bounds, Stas has mastered the
      art of blending various genres, infusing each note with emotion. Stas's
      musical journey 🌟 began at a young age, fueled by an insatiable curiosit
      and a deep love ❤️ for the sound of strings.
    </p>
    <p class="main_articletext">
      From classical compositions 🎻 to modern rock solos 🎸, Stas has explored
      a diverse range of musical landscapes, carving his own unique identity in
      the world of guitar. Apart from the stage 🎤, Stas and I share a
      camaraderie 🤝 that extends beyond the realm of music. We recently spent a
      delightful afternoon 🌞 strolling through the city 🏙️, exchanging stories
      and laughter 😄.
    </p>
    <p class="main_articletext">
      His creativity 🎨 doesn't stop at the strings; Stas has an eye 👁️ for
      capturing the beauty in everyday moments, a talent that enriches our
      shared experiences. Navigate through the sections below 🔍 to witness
      Stas's musical journey, explore collaborative projects 🤝, and get a
      glimpse into the harmonious blend of friendship and artistry 🌈 that
      defines our adventures. As you delve into his world, you'll discover the
      magic ✨ that unfolds when passion meets skill, creating a symphony 🎶
      that lingers in the hearts 💖 of those who listen.
    </p>
  </article>
</main>
{% endblock %}
